.card {
  background-color: #89e6a9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  padding: 16px;
  margin-bottom: 16px;
  color: #007bff;
  text-decoration: none;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.email, .phone {
  color: #221b1b;
  margin-bottom: 4px;
}

.link{
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.containerLink {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}